
body {
    background-color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
nav {background: #ff0000;
     padding: 10px;
      border-radius: 16px;
      text-align: center;
      margin-bottom: 20px;
    }
nav a{
    margin: 0 10px 10px 0;
    padding-bottom: 10px;
    color: #f8f5f5;
    text-decoration: none;
    font-size: x-large;
}
nav a:hover{color: aqua; text-decoration: solid;}
.container{max-width: 1200px; margin-left: auto;margin-right: auto;}
.about, .hobby{min-height: 500px;}
.box{
    height: 50px;
    width: 200px;
    color: #a19f9f;
}
.about .img-about-home{width: 30%; float: left;}
.about .img-about-home img {width: 100%;}
.about .text-about-home {width: 30%;float: left;margin-left: 391px; border: 5px solid #e41919; background-color: #000000; padding: 20px;text-align: center;font-size: xx-large;color: white;}
.project .img-project{width: 30%;margin-left: 31px;background: #333232;min-height: 100px;float: left;}
.project .img-project img{width: 100%;border-radius: 10px;}
.quick-intro {
    text-align: center;
    width: 30%;
    margin-top: 45px;
    float: left;
    margin-left: 412px;
    border: 5px solid #e41919;
    color: white;
    background-color: #000000;
}
.prj-shortcut .project-text{
    text-align: center;
    font-size: larger;
    margin-top: 150px;
}
.about .introducing{
    width: 30%;
    float:left;
    border:  5px solid #e41919 ;
    margin-left: 642px;
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: larger;
}
.main-text{
    color: white;
    text-align: center;
    font-size: x-large;
}
.section-box{clear:both;float: left; margin-bottom: 20px;}

.prj-1{
    width: 60%;
    margin-left: 50px;
    border: 5px solid #e41919;
    background-color: #000000;
    color: white;
    font-size: large;
    float: left;
    text-align: center;
   
}
.text-img-1{
  display: none;  
  top:0px;
  bottom: 0px;
  background-color: rgba(58, 54, 54, 0.288);
    width: 100%;
    height: 100%;
}

.img-1, .img-2{
    width: 30%;
    border:5px solid #e41919;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}
.img-3{
    width: 30%;
    border: 5px solid #e41919;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}
.img-1 img, .img-2 img{
    width: 100%;

}
.img-3 img{
    width: 100%;
}
.prj-2{
    width: 60%;
    margin-left: 50px;
    border: 5px solid #e41919;
    background-color: #000000;
    color: white;
    font-size: large;
    float: left;
    text-align: center;
}
.prj-3{
    width: 60%;
    margin-left: 50px;
    border: 5px solid #e41919;
    background-color: #000000;
    color: white;
    float: left;
    font-size: large;
    text-align: center;
}
.Hobby{
    clear: both;
    float: left;
    margin-bottom: 20px;
}
.text-Hobby-1{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: #e41919b6;
    width: 100%;
    height: 100%;
}
.Hobby-1:hover .text-Hobby-1{
    display: block;
}
.text-Hobby-1 p {
    color: black;
    text-align: center;
}
.text-Hobby-1 h1{
    text-align: center;
}

.Hobby-1{
    width: 30%;
    border: 5px solid #e41919;
    margin-left: 420px;
    float: left;
    border-radius: 10px;
    position: relative;
}
.Hobby-1 img{
    width: 100%;
}
.text-Hobby-2{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: #e41919b6;
    width: 100%;
    height: 100%;
}
.Hobby-2:hover .text-Hobby-2{
    display: block;
}
.text-Hobby-2 p{
    text-align: center;
    color: black;
}
.text-Hobby-2 h1{
    text-align: center;
}
.Hobby-2{
    width: 30%;
    border: 5px solid #e41919;
    margin-left: 420px;
    float: left;
    border-radius: 10px;
    position: relative;
}
.Hobby-2 img{
    width: 100%;
}
.text-Hobby-3{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: #e41919b6;
    width: 100%;
    height: 100%;
}
.Hobby-3:hover .text-Hobby-3{
    display: block;
}
.text-Hobby-3 p{
    text-align: center;
    color: black;
}
.text-Hobby-3 h1{
    text-align: center;
}
.Hobby-3{
    width: 30%;
    border: 5px solid #e41919;
    margin-left: 420px;
    float: left;
    border-radius: 10px;
    position: relative;
    background-color: white;
}
.Hobby-3 img{
    width: 100%;
}
.coming-soon{
    text-align: center;
    font-size: xx-large;
    color: white;
}